@font-face {
  font-family: 'cinesilo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('VisbyRoundCF-Medium'), url('/static/visby.woff2') format('woff2');
}

@font-face {
  font-family: 'cinesilo';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('VisbyRoundCF-DemiBold'),
    url('/static/visby-bold.woff2') format('woff2');
}
